
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Patrick+Hand&family=Stack+Sans+Headline:wght@200..700&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.heading {
    font-size: 3rem;
    font-family: 'Bangers';
    color: rgb(255, 174, 0);
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
}

.instruction {
    font-size: 3rem;
    font-family: 'Patrick Hand';
    font-style: italic;
    color: rgb(2, 108, 201);
    margin-bottom: 10px;
}

.conversation-box {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    
}

.conversation1 {
    width: 800px;
    font-size: 2.5rem;
    font-family: 'Patrick Hand';
    font-style: italic;
    color: rgb(0, 66, 122);
    margin-bottom: 10px;
}

.conversation2 {
    width: 800px;
    font-size: 2.5rem;
    font-family: 'Patrick Hand';
    font-style: italic;
    color: rgb(81, 0, 105);
    margin-bottom: 10px;
}

.conversation1:hover {
    background-color: rgba(30, 255, 0, 0.329);
    border-radius: 15px;
    border: 1px solid rgb(0, 177, 15);
    cursor: pointer;
    .inputs {
        background-color: rgba(30, 255, 0, 0.329);
    }
}

.conversation2:hover {
    background-color: rgba(255, 0, 212, 0.308);
    border-radius: 15px;
    border: 1px solid rgb(134, 0, 105);
    cursor: pointer;
     .inputs {
        background-color: rgba(255, 0, 212, 0.308);
    }
}

.inputs {
    width: 120px;
    font-size: 2.5rem;
    font-family: 'Patrick Hand';
    font-style: italic;
    color: rgb(150, 67, 0);
    border-style: none;
    border-bottom: 1px solid rgb(0, 119, 255);
}

.right {
    visibility: hidden;
}

.images {
    border-radius: 20px;
}

.next {
    font-family: 'bangers';
    font-size: 50px;
    color: dodgerblue;
    text-decoration: none;
    border: 1px solid aliceblue;
    position: absolute;
    right: 400px;
    bottom: 0px;
    text-shadow: 1px 1px 2px black;
    
}

.animation-button {
    font-family: 'bangers';
    font-size: 2rem;
    color: rgb(0, 136, 255);
    width: 100px;
    height: 60px;
    position: absolute;
    bottom: 10px;
    right: 400px;
    background-color: aliceblue;
    border-style: none;
    box-shadow: 1px 1px 2px black;
    border-radius: 10px;
}

.animation-button:active {
    box-shadow: none;
    color: rgb(225, 0, 255);
}